# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore database configuration
database.yml

# Ignore special dotenv files
.env*

# Ignore special env manager's files
.ruby-version
.ruby-gemset

# Ignore any publicly available card images uploaded by the users
/public/system/cards/*

# Ignore other unnecessary files
*~

# Ignore Spring files
/spring/*.pid
