<div class="oauth-buttons">
  <%= link_to 'Продолжить с Google', auth_at_provider_path(provider: :google),
      class: 'btn btn-lg btn-default oauth-google' %>
</div>
<div class="or-row">
  <div class="or-line"></div>
  <div class="or-text">или</div>
  <div class="or-line"></div>
</div>
