<div class="form-group">
  <div class="col-sm-offset-4 col-sm-8">

    <%= link_to "Назад", cards_path, class: "btn btn-default" %>

    <% if action_name != "show" %>
      <%= f.submit "Сохранить", class: "btn btn-warning" %>
    <% end %>

    <% if @card.persisted? %>
      <%= link_to "Удалить", @card, method: :delete, class: "btn btn-danger",
        data: { confirm: "Вы уверены?" } %>
    <% end %>

  </div>
</div>
