<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="card-form">Редактировать карточку</h1>

      <%= render "form" %>

    </div>
  </div>
</div>
