<h1>Флеш-карточки</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Оригинал</th>
      <th>Перевод</th>
      <th class="text-right">Дата обновления</th>
    </tr>
  </thead>
  <tbody>
    <%= render @cards %>
  </tbody>
</table>
