/*
 *= require bootstrap
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */

#container {
  margin: 48px auto;
  width: 960px;
}

#container > section {
  clear: both;
}

#container > header {
  margin-bottom: 46px;
}

#container > header > h1 {
  float: left;
  margin: 0;
}

.navigation-links {
  float: right;
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
}

/* INPUT FORMS */

#error_explanation {
  color: red;
}

#error_explanation ul {
  margin: 0 0 30px 0;
}

#error_explanation li {
  border-color: #a94442;
}

.field_with_errors .form-control {
  color: #a94442;
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.field_with_errors .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

/* MISC */

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}
