.card-form {
  border: medium solid #000;
  border-radius: 1em;

  h1 {
    margin-bottom: 25px;
    text-align: center;
  }

  .card-picture {
    border-radius: 10px;
    display: block;
    margin: 20px auto;
  }
}

.table .card-row td {
  vertical-align: middle;
}
