<h1>Привет от Флешкарточкера!</h1>

<p>Напоминаем, что у тебя остались непроверенные карточки:</p>
<ul>
  <% @cards.each do |card| %>
    <li><%= card.translated_text %></li>
  <% end %>
</ul>
<p>
  Для того чтобы закончить проверку, возвращайся на
  <%= link_to "Флешкарточкер", home_index_url %>
  и укажи перевод для каждой из них.
</p>

<p>Удачи!</p>
